p {

color: blue;
background-color: yellow;
padding: 10 px;
margin: 0;


}

p::first-of-type {

color: violet;


}

<<<<<<< HEAD
.container {

border: 20px solid pink;
=======
container {
border: 2px solid blue;
>>>>>>> 6d79e2117ec3689a08684523ac4e563d993875ff

}
